*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 0, 251);
    padding: 15px;
    top: 0;
    left: 0;

}
.logo{
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding:5px;

}
.navbar a{
    font-size: 20px;
    color: rgb(23, 35, 166);
    font-weight: 600;
    margin-left: 20px;
}
/*------Home section style start------*/
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.home-content h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
   
}
.home-content h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
   
}
.home-pic{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
/*------About section style Start------*/
.about-img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 100px
}
.about-content h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
   
}
.heading-about{
    color: rgb(0, 51, 255);
}
.button{
    border: 1px solid aqua;
    padding: 10px;
    margin-top: 10px;
    color: brown;
    font-weight: 700;
}
/*------Service section style Start------*/
.heading-service, .heading-pro{
color: red;
padding: 10px;
text-align: center;
}
.service h2{
    margin-bottom: 5px;
}
.service-container  .service-box{
background-color: rgb(128, 181, 181);
padding: 30px;
border-radius: 100px;
border: 1px solid red;
text-align: center;
}
.web-img{
    width: 350px;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
/*------Protfolio section style Start------*/
.protfolio-box{
    background-color: rgb(214, 170, 8);
    padding: 30px;
    border-radius: 100px;
    border: 1px solid rgb(147, 143, 143);
    text-align: center;
    color: white;
    }
    .protfolio-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 50px;}
 
/*------Contact section style Start------*/        
.contact form{
 width: 800px;
 margin: 10px auto;
 text-align: center;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box input
{
    width: 100%;
  padding: 20px;
    font-size: 10px;
    background-color: aqua;
    margin: 20px;
    font-weight: 700;
}
textarea{
    background-color: rgb(225, 225, 214);
    width: 100%;
    padding: 10px;
    font-weight: 800;
   
}